<footer>
    <div class="footer-list">
        <a href="/docs/karrier">Karrier</a>
        <a href="/docs/kapcsolat">Rólunk</a>
        <a href="/docs/impresszum">Impresszum</a>
        <a href="/docs/adatvedelem">Adatvédelem</a>
        <a href="/docs/cookie">Cookiek (Sütik)</a>
        <a href="/docs/aszf">ÁSZF</a>
        <span>
            <a href="https://facebook.com" class="tooltip tooltip-top" tooltip-text="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://instagram.com" class="tooltip tooltip-top" tooltip-text="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://youtube.com" class="tooltip tooltip-top" tooltip-text="Youtube"><i class="fab fa-youtube"></i></a>
            <a href="https://tiktok.com" class="tooltip tooltip-top" tooltip-text="Tiktok"><i class="fab fa-tiktok"></i></a>
        </span>
    </div>
    <div class="footer-list" style="margin-top: 32px;">
        <div id="lle-selector">
            <span id="lang-selection">
                <span>magyar</span>
                <div class="dropup">

                </div>
            </span>
            <span id="country-selection">
                <span>magyarország</span>
                <div class="dropup">

                </div>
            </span>
            <span id="currency-selection">
                <span>forint (huf)</span>
                <div class="dropup">

                </div>
            </span>
        </div>
        <span>© 2025 Húzdfel.hu Zrt Minden jog fenntartva.</span>
    </div>
</footer>