<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet"></noscript>
<link rel="preconnect" href="https://site-assets.fontawesome.com" crossorigin>
<link rel="preload" href="https://site-assets.fontawesome.com/releases/v7.1.0/css/all.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.1.0/css/all.css"></noscript>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_ikon.png') }}" type="image/x-icon">
<meta name="description" content="Minőségi termékek olcsó áron. Órák, nadrágok, cipők, pólók, mind egy helyen">
<meta name="keywords" content="ruha, cipo, nadrag, polo, ing, webshop, shop, huzdfel, minoseg, arak, olcso, draga, gagyi">
<meta name="author" content="Húzdfel Zrt">