<div id="modal">
    <div class="content">
        <h1 id="modal-title">Title</h1>
        <p id="modal-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque perferendis eum possimus debitis quibusdam nihil quaerat saepe error, quidem molestiae, est iure quam! Fuga ratione cum facere nisi nemo inventore.</p>
        <div style="display: flex; justify-content: center; gap: 12px">
            <button type="button" id="ok-btn">Rendben</button>
            <button type="button" id="cancel-btn">Mégse</button>
            <button type="button" id="yes-btn">Igen</button>
            <button type="button" id="no-btn">Nem</button>
        </div>
    </div>
</div>
<div id="notification">
    <span id="notification-text"></span>
</div>
<script src="{{ url_for('static', filename='script/all.js') }}"></script>